.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3f51b5;
    width: 60%;
    margin-left: 20%;
    border-radius: 25px;
    padding: 5% 0%;
}

.form .big-label {
    color: white;
    display: flex;
    justify-content: center;
    padding: 7px 0px;
}

.form .form-line {
    padding: 15px;
    margin-bottom: 15px;
}

.exp-line div {
    display: inline-block; 
    width: 40%;
}


@media screen and (max-width: 419px) {
    .form input[type="text"] {
        width: 100%;
    }

    .form .big-label {
        width: 100%;
        text-align: center;
    }

    .exp-line {
        flex-direction: column;
    }

    .exp-line div {
        display: flex;
        justify-content: center;
        width: 100%;
    }

}