.list {
    width: 100%;
    border-spacing: 0;
}


.list tr:nth-child(1) {
    vertical-align: top;
    background-color: black;
    color: white;
    font-weight: bold;
}

.list tr td {
    padding: 5px;
    color: white;
}

.list tr td button {
    color: white;
    border: 0px;
    border-radius: 12px;
    background-color: #5973c7;
    padding: 5px 15px;
    outline: none;
    outline-offset: 0px;
}

.list tr td button:hover {
    background-color: #314a9c;
}

.list tr td button:active {
    background-color: #0e2d91;
}